:paper:
  :size: a5j
  :pdfpagesize: width 148mm height 210mm
  :fontsize: 12pt
:add_header: |
  %\AtBeginDvi{\special{pdf:mapline otf-cjmr-h Identity-H KozMinProVI-Regular}}
  % 詰め字にバグ出たらコレを有効化すること
  % 微調整
  \addtolength{\topmargin}{-15truemm}
  \addtolength{\textwidth}{25truemm}
  \addtolength{\footskip}{-10truemm}  %余白を少し小さく
:ruby_parlen: 1
:replace_pre: [[":","："]]
#もし、段落が長すぎて見づらい時は
#[[!ruby/regexp /^　/ , "\n"]]
:replace_post: [["．","\\CID{637}"],["\\rotatebox[origin=c]{270}{：}" , '\lower0.3ex\hbox{\rotatebox[origin=c]{90}{：}}']]