# 以下はサンプル
# .narou/nコードフォルダ内に置くと小説毎に設定を変えられる

# 漢字(かな・カナ)によるルビの扱い
# 1:標準、ルビとして扱うが（）を残す
# 2:ルビとして扱い()を消す
# 3:ルビとして扱わない
:ruby_parlen: 2

# 処理前に置換を行う
# global.configを上書きするので注意
:replace_pre:
# 作者指定の改段落を信じる
- - !ruby/regexp /^　/
  - "\n"
# 末尾が?の場合でも自動改段落を行う
- - !ruby/regexp /[?？]\n(?!\n)/
  - "\\0\n"
# コロンを全角へ置換
- - ":"
  - "："